/*

.homepage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 2rem;

  //   height: 80rem; //

  &__image-container {
    background-image: linear-gradient(#ffb1b159 60%, #ffffff),
      url("../../assets/jpg/clarify.jpg");
    background-size: cover;
    background-position: center;
    height: 31rem;
  }

  &__intro {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;

    padding: 2rem;
    color: #704646;
    font-size: 1.6rem;
    font-weight: 400;
    background-image: linear-gradient(to right, #eda0a3, #fff);
  }

  &__intro-2 {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-items: end;

    padding: 2rem;
    color: #704646;
    font-size: 1.6rem;
    font-weight: 400;
    background-image: linear-gradient(to right, #fff, #eda0a3);
  }

  &__cta {
    padding: 2rem;
    text-align: center;
    color: #704646;

    &--link,
    &--link:link,
    &--link:visited {
      display: inline-block;
      text-decoration: none;
      font-weight: 700;
      color: #ff8c90;
      border-bottom: 0.2rem transparent solid;

      transition: transform 0.3s, border 0.3s;
    }

    &--link:hover,
    &--link:active {
      border-bottom: 0.2rem #ff8c90 solid;
      transform: scale(1.05);
    }
  }

  &__intro--wc {
    padding: 2rem;
    text-align: center;
    color: #704646;
    font-size: 2.2rem;
  }

  &__intro--step {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.2rem #704646 solid;
    border-radius: 50%;
    background-color: #ffc8c8;

    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 2.4rem;
  }
}

*/
