/*
.signUpPage {
  display: grid;
  align-content: start;
  grid-row-gap: 8rem;
  min-height: 84vh;
  // min-height: 70vh;

  padding: 2rem;
  background-color: #f3f3f3;

  &__wrapper {
    display: grid;
    grid-row-gap: 2rem;
  }
}
*/
