.singleSurveyPage {
  &__container {
    display: grid;
    align-content: start;
    grid-row-gap: 2rem;
    min-height: 84vh;
    // min-height: 70vh;

    padding: 2rem;
    background-color: #f3f3f3;
  }
}
