/*
.createSurveyPage {
  display: grid;
  align-content: start;
  grid-row-gap: 8rem;
  min-height: 84vh;

  padding: 2rem;
  background-color: #f3f3f3;

  &__title {
    font-size: 2rem;
  }

  &__form {
    display: grid;
    grid-row-gap: 4rem;
    // padding: 1rem;
    // background-color: #f3f3f3;
  }
}

*/
