/*
.fileInput {
  &__container {
    position: relative;
    grid-column: 1/-1;
  }

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    display: grid;
    text-align: center;
    color: #fff;
    background-color: #f09999;
    border: 0.1rem #f09999 solid;
    border-radius: 2rem;
    transition: color 0.3s, background-color 0.3s;
  }

  &__label:hover {
    color: #f09999;
    background-color: #fff;
    border: 0.1rem #f09999 solid;
  }
}
*/
